$colors: (
	ltGray: lighten(#818990, 20%),
	dkGray: #818990,
	slate: darken(#93a1a9, 20%),
	fusionBlue: #158cc8,
	fusionDk: #3d474d,
	fusionYellow: #fec501,

	pageBgr: #fff,
	contentBgr: #f8f8f8,
	bodyText: #484b4d,
	selection: lighten(#158cc8, 20%)
);