html {
    background-color: map-get($colors, pageBgr);
    overflow-y: scroll;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: map-get($colors, contentBgr);
    color: map-get($colors, bodyText);
    font-family: map-get($fonts, body);
    min-width: 320px;
}