html {
	background-color: $color-pageBgr;
    overflow-y: scroll;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
	background-color: $color-contentBgr;
	color: $color-bodyText;
    min-width: 320px;
}