.o-keyval {
	border-color: #ddd;
	border-style: solid none;
	border-width: 2px;
}

.o-keyval__row {
	&:nth-of-type(even) { background-color: #f4f4f4; }
}

.o-keyval__key {
	@include font-size(16px, false);
	font-weight: 600;
	line-height: 1.125;
	padding: 0;
	@include sizing(padding-top, .25);
	@include sizing(padding-bottom, .25);
	@include sizing(padding-right, .25);
	text-transform: uppercase;
	vertical-align: top;
}

.o-keyval__val {
	@include font-size(16px, false);
	line-height: 1.125;
	padding: 0;
	@include sizing(padding-top, .25);
	@include sizing(padding-bottom, .25);
	vertical-align: top;
}