.o-tiles {
	@extend %o-list-bare;

	@include media('>lg') {
		@include sizing(margin-left, -.5);
		@include sizing(margin-right, -.5);

		&:before,
		&:after {
			@include sizing(left, .5);
			@include sizing(right, .5);
		}
	}
}

.o-tile {
	@include sizing(margin-bottom, 1);

	@include media('>sm') {
		float: left;
		width: 50%;

		&:nth-of-type(odd) {
			@include sizing(padding-right, .5);
		}

		&:nth-of-type(even) {
			@include sizing(padding-left, .5);
		}
	}

	@include media('>lg') {
		width: 25%;

		&:nth-of-type(4n-3) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}

		&:nth-of-type(4n-2) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}
		
		&:nth-of-type(4n-1) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}

		&:nth-of-type(4n) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}
	}
}

.o-tile--big {
	@include media('>lg') {
		width: 50%;

		.o-tile__title {
			@include font-size(32px, false);
		}
	}
}

.o-tile__container {
	background-color: map-get($colors, fusionBlue);
	display: block;
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
}

.o-tile__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.o-tile__img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.o-tile__content {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(-50%);
}