$color-tile-container: #444;

.o-tiles {
	@extend %o-list-bare;

	@include media-query($breakpoint-lg) {
		@include sizing(margin-left, -.5);
		@include sizing(margin-right, -.5);

		&:before,
		&:after {
			@include sizing(left, .5);
			@include sizing(right, .5);
		}
	}
}

.o-tile {
	@include sizing(margin-bottom, 1);

	@include media-query($breakpoint-sm) {
		float: left;
		width: 50%;

		&:nth-of-type(odd) {
			@include sizing(padding-right, .5);
		}

		&:nth-of-type(even) {
			@include sizing(padding-left, .5);
		}
	}

	@include media-query($breakpoint-lg) {
		width: 25%;

		&:nth-of-type(4n-3) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}

		&:nth-of-type(4n-2) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}
		
		&:nth-of-type(4n-1) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}

		&:nth-of-type(4n) {
			@include sizing(padding-left, .5);
			@include sizing(padding-right, .5);
		}
	}
}

.o-tile--big {
	@include media-query($breakpoint-lg) {
		width: 50%;

		.o-tile__title {
			@include font-size(32px, false);
		}
	}
}

.o-tile__container {
	background-color: $color-tile-container;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	box-shadow: 0 1px 2px #aaa;

	&:before {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
}

.o-tile__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&:hover,
	&:focus {
		.o-tile__img {
			filter: blur(3px) saturate(25%);
			opacity: .5;
			transform: scale(1);
		}
		.o-tile__content {
			opacity: 1;
			transform: translateY(-50%) scale(1);
		}
	}
}

.o-tile__img {
	transition: all .5s ease;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale(1.125);
}

.o-tile__content {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
	transform: translateY(-50%) scale(.95);
	opacity: 0;
	text-shadow: 0 1px 0 transparentize(#000, .5);
	transition: all .35s ease;
}

.o-tile__title {
	color: #fff;
	@include font-size(20px, false);
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}

.o-tile__type {
	color: #ccc;
}