.o-title {
	@include font-size(32px, false);
	@include sizing(margin-bottom, .5);
	font-family: map-get($fonts, aux);
	font-weight: 700;
	margin-top: 0;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;

	@include media('>md') {
		@include font-size(48px, false);
	}

	@include media('>lg') {
		@include font-size(56px, false);
	}
}

.o-subtitle {
	color: map-get($colors, slate);
	font-family: map-get($fonts, heading);
	@include font-size(20px, false);
	@include sizing(margin-bottom);
	margin: 0;
	max-width: 35em;

	@include media('>md') {
		@include font-size(22px, false);
	}

	@include media('>lg') {
		@include font-size(24px, false);
	}
}

.o-subtitle--small {
	@include font-size(18px, true);

	@include media('>md') {
		@include font-size(20px, true);
	}

	@include media('>lg') {
		@include font-size(22px, true);
	}
}

.o-heading-auxiliary {
	color: map-get($colors, dkGray);
	@include font-size(24px, false);
	font-weight: 600;
	line-height: 1;
}

.o-heading-tertiary {
	color: map-get($colors, slate);
	font-family: map-get($fonts, aux);
	@include font-size(18px, false);
	line-height: 1;
	margin: 0;
	@include sizing(margin-bottom, .5);
	text-transform: uppercase;
}